body {
    background-color: #121212;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

nav {
    height: 80px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

#title {
    font-size: 35px;
}

#menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    list-style-type: none;
}

.ctr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mrg {
    margin: 5em 0 2em 0;
}

#intro h1 {
    font-size: 4rem;
}

#intro p{
    width: 65%;
    text-align: center;
    font-size: 1.5rem;
    font-family: monospace;
}

#map{
    flex-direction: row;
}

#map p{
    width: 15%;
    text-align: center;
}

/*main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 80px;    
}

#charts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}*/



.option:hover{
    cursor: pointer;
    color: #1ED760;
}

#observablehq-viewof-selectedTrack-af42cfe4{
    width: 100%;
}

.fade-in {
	opacity: 0;
	transform: translateY(20px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}